.App {
  /* text-align: center;
  margin: auto auto; */

  background-color: aqua;
}
.ct{
  align-items: center;
}
.prev-container{
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  text-align: center;
  width: 500px;
  border: 1px solid black;
}